@import "tailwindcss";


:root {
  --background: #0a0a0a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Gandom;
}

@font-face {
  font-family: "Gandom";
  src: url("../../public/fonts/Gandom.eot"),
    url("../../public/fonts/Gandom.woff") format("woff"),
    url("../../public/fonts/Gandom.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}



/* style.css */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #40E0D0;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}



@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* text */
.custom-scrollbar-horizontal {
  scrollbar-width: thin;
  scrollbar-color: #00e0ca transparent;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 5px;
  padding-bottom: 5px;
}

/* اسکرول افقی برای مرورگرهای مبتنی بر WebKit (مثل کروم و سافاری) */
.custom-scrollbar-horizontal::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar-horizontal::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar-horizontal::-webkit-scrollbar-thumb {
  background-color: #00e0ca;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/*  فقط در موبایل: فاصله‌ی بیشتر از متن */
@media (max-width: 640px) {
  .custom-scrollbar-horizontal {
    padding-bottom: 13px;
  }
}